:root {
  /*Colors*/
  --color-dark: #071629;
  --color-white: #FFFFFF;
  --color-light-purple:  #C271FF ;

  /*Text color*/
  --text-black: var(--color-dark);
  --text-white: var(--color-white);
  --text-light-purple: var(--color-light-purple);

  /*font family*/
  --font-family-SSP: 'Source Sans Pro';
}

html {
  font-size: 62.5%;
}

/* background-color */
.bg-light-purple {
  background-color: var(--color-light-purple);
}

/* text color */
.text-white {
  color: var(--color-white);
}

/* Header
==========================================*/
.header {
  font-family: var(--font-family-SSP);
  padding-top: 38px;
  background-image: url(/images/pic_1.jpg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}

.header .navbar-nav .nav-link {
  font-weight: bold;
  font-size: 1.2rem;
  line-height: 1.5remy;
  color: var(--text-white);
}

.header-title {
  margin-top: 174px;
  font-size: 6.1rem;
  line-height: 7.7rem;
  color: var(--text-white);
}

.header-paragraph {
  margin-bottom: 38px;
  font-size: 1.6rem;
  line-height: 2rem;
  color: var(--text-white);
}

.header-subtitle {
  margin-top: 24px;
  width: 345px;
}

/*button header*/
.btn-light-purple {
  border-radius: 22px;
  background-color: var(--color-light-purple);
  color: var(--text-white);
  text-transform: uppercase;
  font-weight: 600;
  font-family: var(--font-family-SSP);
  font-size: 1.4rem;
  line-height: 1.8rem;
  padding: 13px 20px;
}

/* span purple*/
.header-paragraph-2 {
  margin-top: 150px;
  margin-bottom: 87px;
  font-weight: 300;
  font-size: 3.2rem;
  line-height: 4rem;
  text-align: center;
  color: var(--color-white);
}

.text-span-purple {
  font-weight: bold;
  color: var(--text-light-purple);
}

/*Card*/

.header .card {
  margin-bottom: 58px;
  padding-left: 10px;
  padding-right: 10px;

  width: 150px;
}

.header .card .card-body {
  padding-left: 0;
  padding-right: 0;
  padding-bottom: 0;

}

.header .card .card-title {
  font-weight: 900;
  font-size: 1.8rem;
  line-height: 2.7rem;
}

.header .card .card-text,
.header .card .card-footer {
  font-style: italic;
  font-weight: 400;
  font-size: 1.6rem;
  line-height: 2.4rem;
}

.header .card .card-footer {
  padding: 0;
}

.main {
  font-family: var(--font-family-SSP);
}

/* Section testimonial
===============================*/
.testimonials {
  padding: 100px 0 100px;
}

.testimonials .card img {
  width: 150px;
}

.carousel .carousel-inner .card .card-text {
  margin-bottom: 22px;
  font-weight: 400;
  font-size: 2.2rem;
  line-height: 3.4rem;
}

.carousel .carousel-inner .card .card-title {
  font-size: 2.2rem;
  line-height: 3.4rem;
}

.carousel .carousel-inner .card .card-subtitle {
  font-style: italic;
  font-weight: 400;
  font-size: 2.2rem;
  line-height: 3.4rem;
}

.testimonials .card {
  max-width: 1200px;
}

.testimonials [class*="carousel-control"] img {
  width: 32px;
}

/* Section tutorials
====================================*/
.tutorials {
  padding: 87px 0;
}

.tutorials .card {
  width: 255px;
}

.tutorials-paragraph {
  margin-bottom: 75px;
  font-weight: 300;
  font-size: 3.2rem;
  line-height: 4rem;
  text-align: center;
  color: var(--text-black);
}

.tutorials .card .card-body .card-title {
  font-weight: bold;
  font-size: 1.6rem;
  line-height: 2rem;
  color: var(--text-black);
}

.tutorials .card .card-body .card-text {
  font-weight: 400;
  font-size: 1.4rem;
  line-height: 2.4rem;

  color: rgba(7, 22, 41, 0.501584);
}

.tutorials .card .card-footer .img {
  width: 30px;
}

.tutorials .card .play {
  top: 13.43%;
  left: 37.65%;
  width: 62px;
}

.tutorials .card .card-footer .name {
  margin-left: 13px;
  font-weight: 600;
  font-size: 1.4rem;
  line-height: 2.7rem;
  color: var(--text-light-purple);
}

.tutorials .card .card-footer .star-rating img {
  margin: 14px 0;
  width: 15px;
}

.tutorials .card .card-footer .time {
  font-weight: 600;
  font-size: 1.4rem;
  line-height: 2.7rem;
  color: var(--text-light-purple);
}

.tutorials .carousel [class*="carousel-control"] img {
  width: 32px;
}

/*Membership
============================================*/
.membership {
  padding: 75px 0;
  background-color: var(--color-dark);
  color: var(--color-white);
}

.membership-paragraph {
  margin-bottom: 50px;
  font-weight: 300;
  font-size: 3.2rem;
  line-height: 4rem;
  text-align: center;
}

.membership .card {
  width: 257px;
}

.membership .card img {
  width: 45px;
}

.membership .card .card-body .card-title {
  font-weight: 600;
  font-size: 1.8rem;
  line-height: 2.6rem;
  text-align: center;
}

.membership .card .card-body .card-text {
  font-weight: 400;
  font-size: 1.4rem;
  line-height: 2.6rem;
  text-align: center;
}

.membership button {
  margin-top: 95px;
}

/* Latest videos
================================*/

.videos {
  padding: 87px 0;
}

.videos .card {
  width: 255px;
}

.videos .card .card-body .card-title {
  font-weight: bold;
  font-size: 1.6rem;
  line-height: 2rem;
  color: var(--text-black);
}

.videos .card .card-body .card-text {
  font-weight: 400;
  font-size: 1.4rem;
  line-height: 2.4rem;

  color: rgba(7, 22, 41, 0.501584);
}

.videos .card .card-footer .img {
  width: 30px;
}

.videos .card .play {
  top: 13.43%;
  left: 37.65%;
  width: 62px;
}

.videos .card .card-footer .name {
  margin-left: 13px;
  font-weight: 600;
  font-size: 1.4rem;
  line-height: 2.7rem;
  color: var(--text-light-purple);
}

.videos .card .card-footer .star-rating img {
  margin: 14px 0;
  width: 15px;
}

.videos .card .card-footer .time {
  font-weight: 600;
  font-size: 1.4rem;
  line-height: 2.7rem;
  color: var(--text-light-purple);
}

.videos .carousel [class*="carousel-control"] img {
  width: 32px;
}

/* Footer
===============================*/
.footer {
  padding: 50px 0;
  background-color: var(--color-dark);
  color: var(--text-white);
}

.footer .logo {
  width: 169px;
  margin-bottom: 45px;
}

.footer .logo .smile {
  margin-right: 18px;
  width: 37px;
}

.footer .logo .letter-logo {
  width: 114px;
}

.footer .icons {
  width: 150px;
  margin-bottom: 45px;
}

.footer .icons .social-icons {
  width: 30px;
}

.footer .text {
  font-weight: 400;
  font-size: 1.2rem;
  line-height: 1.5rem;
  text-align: center;
  opacity: 0.35;
}

/*Media Query
========================*/
@media screen and (min-width: 768px) {
  .header-title {
    font-size: 12.0rem;
  }
}

@media screen and (max-width: 767px) {
  .testimonials .card-body {
    margin: 0 auto;
    max-width: 475px;
  }

  .testimonials [class*="carousel-control"] {
    padding-top: 130px;
  }
  
}

@media screen and (max-width: 1439px) {
  .testimonials .card {
    max-width: 590px;
  }
}

